<!DOCTYPE html>
<html lang="en">
<%- include('../../layouts/head') %>

  <body>
    <%- include('../../layouts/header') %>
      <!-- Your code here -->
      <img src="<%=oneArticleData.image %>">
      <h2>
        <%=oneArticleData.title%>

      </h2>
      <h4>
        <%=oneArticleData.author %>

      </h4>
      <h5>
        <%=oneArticleData.date %>
      </h5>
      <p>
        <%=oneArticleData.description %>
      </p>
      <%- include('../../layouts/footer') %>
        <%- include('../../layouts/scripts') %>
  </body>

</html>