<!DOCTYPE html>
<html lang="en">
  <%- include('../../layouts/head') %>

  <body>
    <%- include('../../layouts/header') %>
    <!-- Your code here -->
    <img src="<%=oneArticleData.image %>" />
    <h2><%=oneArticleData.date %></h2>
    <h4><%=oneArticleData.title%></h4>
    <p><%=oneArticleData.author %></p>
    <h3><%=oneArticleData.description %></h3>
    <%- include('../../layouts/footer') %> <%- include('../../layouts/scripts')
    %>
  </body>
</html>
