<!DOCTYPE html>
<html lang="en">
<%- include('../../layouts/head') %>
  <style>
    .AddingNewPost__Container {
      width: 80%;
      margin: 50px auto;
      display: grid;
      grid-template-columns: 35% 60%;
      gap: 5%;
    }
    .left-section__forAddingNewPost {
      height: max-content;
      display: grid;
      background-color: rgba(114, 187, 187, 0.562);
      grid-template-columns: 20% 60%;
      justify-content: flex-end;
    }
    .left-section__forAddingNewPost input,
    .left-section__forAddingNewPost textarea {
      border: 2px solid brown;
    }
    .inner-leftSection label {
      display: inline-block;
      margin-top: 10px;
    }
    .left-section__forAddingNewPost .inner-leftSection * {
      margin-bottom: 15px;
    }
    .right-section__forAddingNewPost>h2 {
      font-size: x-large;
    }
    .right-section__forAddingNewPost * {
      margin-bottom: 5px;
    }
    .right-section__forAddingNewPost .inner-rightSection {
      margin-bottom: 20px;
      font-size: small;
      text-align: center;
      border: 2px solid brown;
    }
    .inner-rightSection0 {
      background-color: rgba(165, 42, 42, 0.633);
    }
    .inner-rightSection1 {
      background-color: rgba(165, 42, 42, 0.433);
    }
    .inner-rightSection2 {
      background-color: rgba(165, 42, 42, 0.133);
    }
    .right-section__forAddingNewPost img {
      width: 30%;
    }
  </style>

  <body>
    <%- include('../../layouts/header') %>
      <!-- Your code here -->
      <div class="AddingNewPost__Container">
        <section class="left-section__forAddingNewPost">
          <form class="inner-leftSection" action="/articles/new-post" method="POST">
            <label for="author">Author</label>
            <input type="text" name="author" placeholder="author"><br>
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="title"><br>
            <label for="image">URL Image</label>
            <input type="text" name="image" placeholder="imageURL"><br>

            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Write ..."></textarea><br>

            <button>ADD</button>
          </form>
        </section>
        <section class="right-section__forAddingNewPost">
          <h2>Last articles was added</h2>
          <% newArticlesAddes.forEach((item,index)=>{ %>
            <section class="inner-rightSection inner-rightSection<%=index%>">
              <img src="<%=item.image %>">
              <h2>
                <%=item.date %>
              </h2>
              <h4>
                <%=item.title%>
              </h4>
              <p>
                <%=item.author %>
              </p>
              <h3>
                <%=item.description %>
              </h3>
              <form action="/articles/new-post?_method=delete" method="POST">
                <input type="hidden" name="deleteN" value="<%=item.id%>">
                <button>DELETE</button>
              </form>
              <section>
                <button onclick="myFunction()" id="<%=item.id%>">UPDATE</button>
                <section>
                  <form class="__admin_update __admin_update<%=item.id%>" action="/articles/new-post?_method=put"
                    method="POST">
                    <input type="text" name="title" value=" <%= item.title  %> " placeholder="title" />
                    <input type="text" name="author" value="<%= item.author  %>" placeholder="author" />
                    <input type="text" name="date" value="<%= item.date  %>" placeholder="date" />
                    <input type="text" name="image" value="<%= item.image  %>" placeholder="image" />
                    <textarea name="description" cols="30" rows="10" placeholder="description">
                  <%= item.description  %></textarea>
                    <input type="hidden" name="id" value="<%=item.id%>">
                </section>
                <button class="__admin_update_btn_form  __admin_update_btn_form<%=item.id%>">UPDATE</button>
                </form>
              </section>
            </section>
            <%})%>
      </div>


      <script>
        function myFunction() {
          console.log(event.target.id);
          $(`.__admin_update${event.target.id}`).show();
          $(`#${event.target.id}`).hide();
          $(`.__admin_update_btn_form${event.target.id}`).show();
        }
      </script>
      <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>


      <%- include('../../layouts/footer') %>
        <%- include('../../layouts/scripts') %>
  </body>

</html>