<!DOCTYPE html>
<html lang="en">
<%- include('../../layouts/head') %>

  <body>
    <%- include('../../layouts/header') %>
      <!-- Your code here -->
      <div class="AddingNewPost__Container">
        <!-- <h2>Add an Article</h2> -->
        <section class="left-section__forAddingNewPost">
          <form class="inner-leftSection" action="/articles/admin/new-post" method="POST">
            <label for="author">Author</label>
            <input type="text" name="author" placeholder="author"><br>
            <label for="title">Title</label>
            <input type="text" name="title" placeholder="title"><br>
            <label for="image">URL Image</label>
            <input type="text" name="image" placeholder="imageURL"><br>

            <label for="description">Description</label>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Write ..."></textarea><br>

            <button class="newPost_btns">ADD</button>
          </form>
        </section>
        <section class="right-section__forAddingNewPost">
          <h2>Last articles was added</h2>
          <% newArticlesAddes.forEach((item,index)=>{ %>
            <section class="inner-rightSection inner-rightSection<%=index%>">
              <img src="<%=item.image %>">
              <h2>
                <%=item.title%>
              </h2>
              <h4>
                Article by: <%=item.author %>
              </h4>
              <h5>
                <%=item.date %>
              </h5>
              
              <p>
                <%=item.description %>
              </p>
              <form action="/articles/admin/new-post?_method=delete" method="POST">
                <input type="hidden" name="deleteN" value="<%=item.id%>">
                <button class="newPost_btns newPost_delete">DELETE</button>
              </form>
              <section>
                <button class="newPost_btns" onclick="myFunction()" id="<%=item.id%>">UPDATE</button>
                <section>
                  <form class="__admin_update __admin_update<%=item.id%>" action="/articles/admin/new-post?_method=put"
                    method="POST">
                    <input type="text" name="title" value=" <%= item.title  %> " placeholder="title" />
                    <input type="text" name="author" value="<%= item.author  %>" placeholder="author" />
                    <input type="text" name="image" value="<%= item.image  %>" placeholder="image" />
                    <textarea name="description" cols="30" rows="10" placeholder="description">
                  <%= item.description  %></textarea>
                    <input type="hidden" name="id" value="<%=item.id%>">
                </section>
                <button class="newPost_btns __admin_update_btn_form  __admin_update_btn_form<%=item.id%>">UPDATE</button>
                </form>
              </section>
              <section class="__admin_add_NewPost">
                <form action="/articles/admin/new-post" method="POST">
                  <input type="hidden" name="add" value="<%=item.id%>">
                  <button class="newPost_btns" >Add to Custmor Page</button>
                </form>
              </section>
              <form action="/articles/admin/new-post?_method=delete" method="POST">
                <input type="hidden" name="deletefromCustmorpage" value="<%=item.id%>">
                <button class="newPost_btns" >DELETE From Custmor Page</button>
              </form>
              <%addedDataCheck.forEach(item2=>{%>
                <%if(item.id===item2.id){ %>
                  <p class="added_paragraph_for_admin">THIS ARTICLE WAS ADDED</p>
                  <%}%>
                    <%})%>
            </section>
            <%})%>
      </div>
      <div class="mopile"></div>


      <script>
        function myFunction() {
          console.log(event.target.id);
          $(`.__admin_update${event.target.id}`).show();
          $(`#${event.target.id}`).hide();
          $(`.__admin_update_btn_form${event.target.id}`).show();
        }
      </script>
      <script src="http://code.jquery.com/jquery-3.1.1.min.js"></script>


      <%- include('../../layouts/footer') %>
        <%- include('../../layouts/scripts') %>
  </body>

</html>